<!DOCTYPE html>
<html<%= htmlAttributes %>>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />

      <meta
    name="Description"
    content="Color Palette Transformer"/>
  <meta property="og:title" content="Color Palette Transformer" />
  <meta name="twitter:title" content="Color Palette Transformer" />
  <meta name="twitter:creator" content="@dimfeld" />
  <meta property="og:type" content="site" />
  <meta property="og:description" content="Transform a color palette into a different color" />
  <meta name="twitter:description" content="Transform a color palette into a different color" />
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image" content="https://palettes.imfeld.dev/card.png" />
  <meta property="og:image"  content="https://palettes.imfeld.dev/card.png" />

    <title><%= title %></title>

    <link
      href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="favicon.png" />
    <%= links %>

    <script async defer data-domain="palettes.imfeld.dev" src="https://plausible.io/js/plausible.js"></script>
  </head>

  <body>
    <%= scripts %>
  </body>
</html>
